<% provide(:title, "About") %>

<div class="form-wrapper">
	<h1>About</h1>
	<p>
	  The Negus Gaming Clan is a collective of true neguses that
	  have journeyed together for many years in an effort to rid
	  the universe of filthy goats. <br /> Join us and reap the 
	  rewards of negian.
	</p>
</div>
