
<div class="center-text jumbotron flex-column-container-centered">
  <h1 class="flex-column-element">Sheepus Gaming Clan</h1>
  <h2 class="flex-column-element">Sheepus Quote of the Day:
    <%= get_random_welcome()%>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary flex-column-element"%>

  <div class="flex-column-element flex-row-container">
    <%= link_to image_tag("nc.jpg", :width => 240, :height => 240,
    :border => 0), {:action => 'planetside2', :controller => 'static_pages'},
    {:class => 'flex-row-element'}%>

    <%= link_to image_tag("zombslogo.jpg", :width => 240, :height => 240,
    :border => 0), {:action => 'nazizombies', :controller => 'static_pages'},
    {:class => 'flex-row-element'}%>
  </div>

</div>
