
<div class="planetsideheader">
	<h1>Welcome to the Nazi Zombies division of the Negus Gaming Clan.</h1>
	<div class="planetsidenav">
		<%= link_to "Visit the Forums", forum_subforums_path(2), class: "btn btn-md btn-primary" %>
	</div>
</div>
