<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<div class="flex-column-container">
	<% @forums.each do |forum| %>
	<div class="forum-flex-row flex-column-element">

		<div class="flex-row-element">
			<%=link_to forum.forumname, forum_subforums_path(forum) %>
		</div>
		<div class="flex-row-element">
			<%=link_to edit_forum_path(forum) do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<%end%>
			<%=link_to forum, method: :delete, data: { confirm: 'Are you sure?' } do %>
				<span class="glyphicon glyphicon-remove"></span>
			<%end%>
		</div>
		<div class="flex-row-element"></div>
		
	</div>
	<% end %>
</div>

<br>
