<p id="notice"><%= notice %></p>

<h1>Forums</h1>


<div class="flex-container">

</div>


<div class="flex-container">
	<% @forums.each do |forum| %>
	<div class="flex-row">

		<div class="flex-item">
			<%= link_to forum.forumname, forum_subforums_path(forum) %>
		</div>
		<div class="flex-item">
			<%= link_to 'Edit', edit_forum_path(forum) %>
		</div>
		<div class="flex-item">
			<%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

	</div>
	<% end %>
</div>

<br>
