<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr class= "<%= cycle('list_line_odd', 'list_line_even')%>">
        <td><%= link_to forum.forumname, forum_subforums_path(forum) %></td>
        <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    
  </tbody>
</table>
