

<div class="flex-column-container-no-margin">
	<div class="flex-column-element flex-row-container">
		<div class="flex-row-element"> Target </div>
		<div class="flex-row-element"> Comment </div>
		<div class="flex-row-element"> Date </div>
	</div>
	<div class="flex-column-element flex-row-container">
		<% @user_comments.order("created_at DESC").each do |comment|%>
			<div class="flex-row-element"> <%= link_to comment.post.postname, comment.post %> </div>
			<div class="flex-row-element"> <%= comment.comment_content %> </div>
			<div class="flex-row-element"> <%= distance_of_time_in_words_to_now comment.created_at %> ago </div>
		<%end%>
	</div>
</div>
