
<div class="flex-list">
	<% @user_likes.liked_posts.each do |like|%>
		<div class="flex-list-element">
			<%= @user.name%> liked <%= link_to like.likeable.postname, post_path(like.likeable_id)%>
		</div>
	<%end%>

	<% @user_likes.liked_comments.each do |like|%>
		<div class="flex-list-element">
			<%= @user.name%> liked a comment in <%= link_to like.likeable.post.postname, post_path(like.likeable.post)%>
		</div>
	<%end%>
</div>
