

<div class="flex-list">
	<div class="flex-list-element flex-post-row">
		<div class="flex-row-element"> Target </div>
		<div class="flex-row-element"> Comment </div>
		<div class="flex-row-element"> Date </div>
	</div>
	<% @user_comments.each do |comment|%>
		<div class="flex-list-element flex-post-row">
			<div class="flex-row-element"> <%= link_to comment.post.postname, comment.post %> </div>
			<div class="flex-row-element"> <%= comment.comment_content %> </div>
			<div class="flex-row-element"> <%= distance_of_time_in_words_to_now comment.created_at %> ago </div>
		</div>
	<%end%>
</div>
