<div class="flex-list-element">
  <%if friend.avatar != nil%>
  	<%= image_tag friend.avatar.displaypic.url(:small)%>
  <%else%>
  	<%= image_tag 'no_image_icon.jpg', width: 64, height: 64 %>
  <%end%> <br />
  <%= link_to friend.name, user_path(friend.id)%>

  <%#= form_for friendship, remote: true do |f| %>
  	<%#= f.hidden_field :accepted, :value => true %>
  	<%#= f.submit "Accept Friendship", class: "btn btn-primary btn-sm" %>
  <%#end%>

  <%#= form_for friendship, remote: true do |f| %>
  	<%#= f.hidden_field :friender_id, :value => current_user.id %>
  	<%#= f.hidden_field :friended_id, :value => user.id %>
  	<%#= f.submit "Request Friendship", class: "btn btn-primary btn-sm" %>
  <%#end%>

</div>
