<% provide(:title, @user.name + "'s Friendships") %>
<div class="flex-header-footer-body">
	<div class="flex-header">
		<h2>Your Friendships</h2>

		<div class="flex-column-element flex-navbar">
			<input value="Mutual Friends" type="button" id="mutual-friends-btn" class="btn btn-primary flex-nav-element">
			<input value="Incoming Friend Requests" type="button" id="incoming-requests-btn" class="btn btn-primary flex-nav-element">
			<input value="Outgoing Friend Requests" type="button" id="outgoing-requests-btn" class="btn btn-primary flex-nav-element">
		</div>
	</div>

	<div class="flex-content">
		<div id="mutual-friends">
			<div class="flex-gallery-adaptive">
				<% @friends.each do |f|%>
					<div class="flex-gallery-element">
						<%= render partial: 'friend', locals: {friend: f}%>
					</div>
				<%end%>
			</div>
			<div id="new-friends">

			</div>
		</div>

		<div id="outgoing-requests" class="hide">
			<% @outgoingFriendships.each_slice(3) do |row|%>
				<div class="row">
						<%row.each do |friendship|%>
							<%= render partial: 'friended', locals: {friendship: friendship}%>
						<%end%>
				</div>
			<%end%>
		</div>

		<div id="incoming-requests" class="hide">
				<% @incomingFriendships.each_slice(3) do |row|%>
					<div class="row">
							<%row.each do |friendship|%>
								<%= render partial: 'accept_friender', locals: {friendship: friendship}%>
							<%end%>
					</div>
				<%end%>
		</div>
	</div>
</div>
